
.header1 {
  
  text-align: center;
  background: white;
text-shadow: 2px 2px 4px;
}
.header1 h1 {
  font-size: 50px;
  color: #dd4103;
  
}
.topnav {
  overflow: hidden;
  background-color: rgb(37, 37, 37);
}
.topnav a {
  float: left;
  display: block;
  color: #f3f3f3;
  text-align: center;
  padding:16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  background-color: rgb(250, 250, 250);
}
.right {
  right: 0;
  background-color: rgb(5, 18, 75);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1{
  color: #dd4103;
  padding-top: 1px;
  font-size: 50px;
}

.right h2{
  color: #ffffff;
  padding-top: 30%;
  padding-left: 20%;
  font-size: 40px;


}
.box{

    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
   border-left:20%;
  
}
.form-3 {
  font-family: 'Ubuntu', 'Lato', sans-serif;
  font-weight: 400;
  /* Size and position */
  width: 400px;
  position: relative;
  margin: 60px auto 30px;
  padding: 10px;
  overflow: hidden;

  /* Styles */
  background: #111; 
  border-radius: 0.4em;
  border: 1px solid #032c85;
  box-shadow: 
      inset 0 0 2px 1px rgba(255,255,255,0.08), 
      0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(14, 14, 97);
  border-bottom: 16px solid rgb(7, 7, 129);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 60%;
  margin-left: 80%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}