h3{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:rgb(231, 100, 13);
    text-align: center; 
  }
  
  table{
    margin-top:2%;
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    text-align:; 
    background-color: rgb(37, 37, 37);
    border-collapse: collapse; 
    border: 3px solid rgb(255, 255, 255)
  }
  table.inner{
    border: 0px
  }

    .reg,h2{
      text-align: center;
      color:rgb(231, 100, 13);
    }
  